/* ini berguna untuk semua style teratur dengan margin dan padding 0 */
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 30px;
    font-weight: bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #40a125;
    padding: 5px;
}

/*.menu{*/
/*    float: right;*/
/*}*/

nav{
    width: 100%;
    margin: auto;
    display: flex;
    /*line-height: 80px;*/
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgb(223, 241, 121);
    text-align: center;
}

/*nav ul{*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*}*/

/*nav ul li{*/
/*    float: left;*/
/*}*/

/*nav ul li a{*/
/*    color: rgb(60, 182, 182);*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    padding: 0px, 16px;*/
/*    text-decoration: none;*/
/*}*/

/*nav ul li a:hover{*/
/*    text-decoration: underline;*/
/*}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(223, 241, 121);
}

nav li {
    float: left;
}

nav li:last-child {
    border-right: none;
}

nav li a {
    display: block;
    color: #40a125;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: darkgreen;
    color: white;
}

.active {
    background-color: #04AA6D;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: #40a125;
}

h2 {
    font-size: 45px;
    font-weight: 800;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #40a125;
    width: 100%;
    line-height: 50px;
}
