/* ini adalah css untuk body */
body {background-color: #FFFF;}
h1 {color: #034720; text-align: left; padding: 3px;}
p {font-family: Arial, Arial, Helvetica, sans-serif; font-size: 18px;}
ol li {font-family: Arial, Helvetica, sans-serif; font-size: 18px;}
* {margin: 1px; padding: 1px;;}

.wrapper{
   width: 1100px;
   margin: auto;
   position: relative;
}

/* navigation bar  */
nav {
   margin:auto;
   text-align: center;
   width: 100%;
   font-family: arial;
} 
nav ul {
   background:#3D8361;
   padding: 0 5px;
   list-style: none;
   position: relative;
   display: inline-table;
   width: 100%;
}
nav ul li{
   float:left;
}
nav ul li:hover{
   background:#A5F1E9;
}
nav ul li:hover a{
    color:#000;
}
nav ul li a{
    display: block;
    padding: 17px;
    color: #fff;
    text-decoration: none;
}

.kolom {
   margin-top: 50px;
   margin-bottom: 50px;
}

.kolom .deskripsi{
   font-size: 20px;
   font-weight: bold;
   font-family:'Times New Roman', Times, serif;
   color: #40a125;
}

h2 {
   font-size: 45px;
   font-weight: 800;
   font-family:'Times New Roman', Times, serif;
   margin-bottom: 20px;
   color: #40a125;
   width: 100%;
   line-height: 50px;
}
